<h2>
  <a href="/roles/{{access.role_id}}" type="button" class="btn btn-dark btn-sm">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </a>
  {{access.route}}
</h2>
<form method="POST">
  <div class="form-group">
    <label for="role">Name</label>
    <input value="{{access.route}}" autocomplete="new-password" type="text" class="form-control" name="role" placeholder="Enter role name">
  </div>
  
  <div style="display: flex; justify-content: space-around;">
    <div class="custom-control custom-checkbox">
      <input {{#access.create}}checked{{/access.create}} type="checkbox" class="custom-control-input" name="create" id="create">
      <label class="custom-control-label" for="create">Create</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input {{#access.read}}checked{{/access.read}} type="checkbox" class="custom-control-input" name="read" id="read">
      <label class="custom-control-label" for="read">Read</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input {{#access.update}}checked{{/access.update}} type="checkbox" class="custom-control-input" name="update" id="update">
      <label class="custom-control-label" for="update">Update</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input {{#access.delete}}checked{{/access.delete}} type="checkbox" class="custom-control-input" name="delete" id="delete">
      <label class="custom-control-label" for="delete">Delete</label>
    </div>
  </div>
  <br>

  <button type="submit" class="btn btn-primary">Update</button>
  <button type="button" class="btn btn-danger">Delete</button>
</form>