<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Timetracker - Signin</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body class="text-center">
    <div class="signin-content">
      <form method="POST" class="form-signin">
        <br><br>
        <h1 class="h3 mb-3 font-weight-normal text-light">Sign in</h1>
        {{#error}}<div class="text-danger">{{.}}<br><br></div>{{/error}}
        <label for="inputEmail" class="sr-only">Username</label>
        <input name="username" type="text" id="username" class="form-control" placeholder="Username" required="" autofocus="">
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="Password" required="">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </body>
</html>